version: "3.6"

volumes:
  local_postgres_data: {}
  local_postgres_data_backups: {}

services:
  nginx:
    image: nginx:alpine
    container_name: nz01
    ports:
      - "8000:8000"
    volumes:
      - ./src:/src
      - ./config/nginx:/etc/nginx/conf.d
    depends_on:
      - web
    networks:
      - djangonetwork
  web:
    build:
      context: .
      dockerfile: compose/django/Dockerfile
    container_name: dz01
    depends_on:
      - db
    volumes:
      - ./src:/src
    expose:
      - "8000"
    links:
      - redis
    env_file:
      - ./.envs/.django
    networks:
      - djangonetwork
  db:
    image: postgres:10
    build:
      context: .
      dockerfile: compose/postgres/Dockerfile
    container_name: pz01
    env_file:
      - ./.envs/.postgres
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
      - local_postgres_data_backups:/backups
    networks:
      - djangonetwork
  
  worker:
    env_file:
      - ./.envs/.django
    build:
      context: .
      dockerfile: compose/django/Dockerfile
    command: celery worker --app mydjango --loglevel info --logfile celery-worker.log
    volumes:
      - ./src:/src
    depends_on:
      - redis
    networks:
      - djangonetwork
  
  schedule:
    env_file:
      - ./.envs/.django
    build:
      context: .
      dockerfile: compose/django/Dockerfile
    command: celery beat --app mydjango --loglevel info --logfile celery-beat.log
    volumes:
      - ./src:/src
    depends_on:
      - redis
    networks:
      - djangonetwork
  redis:
    image: "redis"
    container_name: rz01
    ports:
      - "6379:6379"
    networks:
      - djangonetwork

networks:
  djangonetwork:
    driver: bridge
